@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

input::-webkit-input-placeholder {
  color: black;
  font-weight: 700;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button-styles {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.reset-styles {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
}

/*header*/
.page-header {
  padding: 0 70px;
  height: 64px;
}

.nav-logo {
  position: absolute;
  z-index: 5;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  margin-left: 190px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 32px;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
  text-align: center;
  height: 64px;
}

.navigation-item:hover {
  text-decoration: underline 2px solid #756257;
  text-underline-offset: 23px;
}

.link-line {
  text-decoration: underline 2px solid #756257;
  text-underline-offset: 23px;
}

.navigation-user {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-search {
  background-image: url(/images/icon/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 44px;
  height: 64px;
}

.navigation-favourites {
  background-image: url(../images/icon/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 44px;
  height: 64px;
}

.twelve {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-size: 10px;
  background-color: #7DB54F;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  left: 20px;
  top: 5px;
  color: #FFFFFF;
}

.navigation-button {
  display: flex;
  justify-content: center;
  background-color: #756157;
  border-radius: 4px;
  width: 160px;
  padding: 8px 0;
  font-size: 16px;
  color: #ffffff;
  margin-left: 20px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*main*/

.main-container{
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.main-image {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/index_background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 485px;
  position: relative;
}

.main-image::after {
  content: "";
  background-image: url(../images/icon/down_line.svg);
  position: absolute;
  width: 100%;
  height: 57px;
  display: block;
  bottom: 0%;
}

.sedona {
  padding-top: 69px;
  padding-bottom: 90px;
}

.image-sedona {
  padding-top: 51px;
}

.sedona-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  margin:0;
  text-align: center;
  margin-bottom: 25px;
}

.sedona-specification {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  text-align: center;
}

.advantages-item {
  list-style-type: none;
  width: 400px;
  height: 384px;
}

.advantages-first {
  display: flex;
  flex-wrap: wrap;
}

.advantages-second {
  display: flex;
  flex-wrap: wrap;
}

.advantages-block {
  width: 400px;
  margin-top: 92px;
}

.advantages-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.title-blue::after {
  content: "";
  position: relative;
  display: block;
  margin: 30px auto 30px;
  width: 60px;
  border-bottom: 2px solid  rgba(255, 255, 255, 0.3);
}

.advantages-description {
  margin: 0;
  margin-top: 30px;
}

.title-decoration::after {
  content: "";
  position: relative;
  display: block;
  margin: 30px auto 30px;
  width: 60px;
  border-bottom: 2px solid  rgba(0, 0, 0, 0.3);
}

.title-decoration {
  margin-top: 103px;
}

.blue {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
  color: #ffffff;
}

.blue-reverse {
  flex-direction: row-reverse;
}

.advantages-title--second {
  margin-top: 182px;
}

.gray {
  background-color: rgba(131, 179, 211, 0.2);
}

.white{
  background-color: rgba(131, 179, 211, 0.12);
}

.house {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../images/icon/motel.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 80px;
}

.food{
  background-color: #ffffff;
  background-image: url(../images/icon/food.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 81px;
}

.souvenir {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../images/icon/souvenirs.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 78px;
}

.search {
  padding: 96px;
}

.search-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}

.search-hostel {
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  width: 376px;
  margin: 0 auto;
  cursor: pointer;
}

.with_background {
  background-image: url(../images/mailing.jpg);
  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.email {
  padding-top: 96px;
  padding-bottom: 104px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.email-form {
  display: inline-flex;
}

.email-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.email-description {
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.field {
  background-color: #F2F2F2;
  border-style: none;
  color: #ffffff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  width: 452px;
}

.button-email {
  border-width: 0;
  background-color: #82B3D3;
  color: #ffffff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  cursor: pointer;
}

.page-footer {
  padding: 30px 70px 40px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.contact {
  max-width: 192px;
  display: flex;
  flex-shrink: 0;
}

.contact-item {
  position: relative;
  text-decoration: none;
  list-style-type: none;
  display: block;
}

.contact-link {
  display: block;
  width: 48px;
  height: 40px;
}

.number-phone {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  margin: auto;
}

.number-phone:hover {
  color: #756157;
}

.number-phone:focus {
  color: #756157;
  outline: none;
}

.number-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.link-img {
  display: block;
}

.contact-icon:hover {
  fill: #68A2CA;
}

.contact-icon:focus {
  fill: #68A2CA;
  outline: none;
}

.contact-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.academy-link:hover {
  fill: #756157;
}

.academy-link:focus {
  fill: #756157;
  outline: none;
}

.academy-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

.contact-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill:#83B3D3;
}

.academy-link {
  fill: #000;
}


/*catalog*/

.hostel {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(/images/catalog_backgroung.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-bottom: 73px;
}

.hostel-frame {
  width: 1060px;
  margin: 0 auto;
}

.hostel-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  padding-top: 35px;
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  gap: 10px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.breadcrumbs-link:nth-last-child(n) {
  margin-right: 10px;
}

.hostel-option {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.check-list {
  display: flex;
}

.filter {
  display: flex;
  flex-direction: column;
  border: 0;
  margin-right: 70px;
  gap: 16px;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  width: 100%;
  padding-bottom: 32px;
}

.filter-check {
  display: flex;
  gap: 16px;
  line-height: 23px;
}

.cost-button {
  display: flex;
  align-items: baseline;
}

.filter-cost {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.visual-input {
  display: flex;
  margin-bottom: 48px;
}

.input-area-zero {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
  width: 123px;
  height: 45px;
  padding-left: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #F2F2F2;
}

.input-area-ninth {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
  width: 123px;
  height: 45px;
  margin-left: 2px;
  padding-left: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #F2F2F2;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 226px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.input-area {
  position: relative;
}

.input-from {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  right: 20px;
  top: 12px;
}

.input-do {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  right: 20px;
  top: 12px;
}

.search-buttom {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.submit {
  color: #ffffff;
  padding: 8px 50px;
  background-color: #82B3D3;
  border-radius: 4px;
  border-width: 0px;
  margin-bottom: 32px;
}

.reset {
  background-color: transparent;
  color: #ffffff;
  border-width: 0px;
  padding: 8px 58px;
}

.page-catalog {
  width: 1060px;
  margin: 0 auto;
}

.found-hostel {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.select-opt {
  font-family: inherit;
  width: 292px;
  height: 49px;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(/images/icon/arrow.svg);
  background-repeat: no-repeat;
  background-position: left 260px center;
  margin-left: auto;
  margin-right: 70px;
  cursor: pointer;
}

.visual {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 168px;
  gap: 8px;
}

.visual-tile {
  display: block;
  background-image: url(../images/icon/tile.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 14px;
  padding: 16px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.visual-slide {
  display: block;
  background-image: url(../images/icon/slide.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 14px;
  padding: 16px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.visual-list {
  display: block;
  background-image: url(../images/icon/list.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 14px;
  padding: 16px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.visual-container {
  display: flex;
  padding-top: 56px;
  padding-bottom: 66px;
}

.catalog-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}

.catalog-element {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.catalog-element-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}

.catalog-title {
  font-size: 24px;
  line-height: 28px;
}

.catalog-price {
  display: flex;
  justify-content: space-between;
}

.catalog-detail {
  color: #FFFFFF;
  background-color: #756157;
  padding: 8px 26px;
  border-radius: 4px;
}

.catalog-favorite {
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 140px;
  padding: 10px;
  border-radius: 4px;
  border-width: 0px;
}

.button-green {
  background-color: #7DB54F;
}

.catalog-button {
  display: flex;
  justify-content: space-between;
}

.catalog-star-four {
  background-image: url(/images/icon/star.svg);
  align-self: center;
  width: 96px;
  height: 17px;
  background-repeat: round;
  background-size: 24px;
  cursor: pointer;
}

.catalog-star-three {
  background-image: url(/images/icon/star.svg);
  align-self: center;
  width: 72px;
  height: 17px;
  background-repeat: round;
  background-size: 24px;
  cursor: pointer;
}

.catalog-star-two {
  background-image: url(/images/icon/star.svg);
  align-self: center;
  width: 48px;
  height: 17px;
  background-repeat: round;
  background-size: 24px;
  cursor: pointer;
}

.catalog-rang {
  display: flex;
  background-color: #F2F2F2;
  padding: 8px 22px;
  border-radius: 4px;
  font-weight: 400;
}

.rang-star {
  display: flex;
  justify-content: space-between;
}

.paginator {
  font-size: 20px;
  line-height: 36px;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  gap: 8px;
  border-top: 1px solid #e6e6e6;
  padding-top: 40px;
  margin-top: 40px;
}

.ellipsis {
  align-self: center;
  text-align: center;
  width: 60px;
}

.number {
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.number:hover {
  background-color: #68A2CA;
}

.number:focus {
  background-color: #68A2CA;
  outline: none;
}

.number:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.one {
  text-decoration: none;
  color: inherit;
  background-color: #F2F2F2;
}

.email-catalog {
  background-color: #fff;
  color: #000000;
}

/* button */

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-blue:disabled {
  background-color: #E5E5E5;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
  outline: none;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-brown:disabled {
  background-color: #E5E5E5;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus {
  background-color: #6C9E42;
  outline: none;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.button-green:disabled {
  background-color: #E5E5E5;
}

.button-clear:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-clear:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-clear:focus {
  outline: none;
  box-shadow: 0 0 0 2px #82B3D3;
  border-radius: 4px;
}

.button-clear:disabled {
  opacity: 0.1;
}

.select-opt:hover {
  outline: none;
  border: 2px solid #82B3D3;
  border-radius: 4px;
}

.select-opt:focus {
  outline: none;
  border: 2px solid #82B3D3;
  border-radius: 4px;
}

.select-opt:active {
  outline: none;
  border: 2px solid #000000;
  border-radius: 4px;
}

.select-opt:disabled{
  outline: none;
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.input-area:focus {
  outline: none;
  box-shadow: 0 0 0 2px #82B3D3;
}

.input-area:active {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.visual-card:hover {
  border: 2px solid #000000;
}

.visual-card:focus {
  outline: none;
  border: 2px solid #82B3D3;
}

.visual-card:active {
  border: 2px solid #000000;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.custom-checkbox:checked+label::before {
  background-image: url(../images/icon/check.svg)
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.custom-radio:checked+label::before {
  background-image: url(../images/icon/circle.svg)
}


/*modal*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}

.modal {
  position: relative;
  margin: auto;
  border-radius: 30px;
  padding: 70px;
  background-color: #ffffff;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/icon/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.input-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-right: 20px;
}

.data-check {
  background-color: #F2F2F2;
  width: 415px;
  height: 48px;
  border-radius: 4px;
  border: none;
  padding-left: 20px;
  color: #000;
  font-size: 18px;
  background-image: url(../images/icon/calendar.svg);
  background-repeat: no-repeat;
  background-position-x: 393px;
  background-position-y: center;
}

.lot-input {
  background-color: #F2F2F2;
  width: 90px;
  height: 48px;
  border-radius: 4px;
  border: none;
  padding-left: 20px;
  color: #000;
  margin-left: 23px;
}

.child-block {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}

.child-input {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83B3D3;
  background-image: url(../images/icon/i.svg);
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  margin-right: 23px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.button-search {
  background-color: #83B3D3;
  color: #fff;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  padding: 18px;
}

.style-form {
  justify-content: space-between;
  display: flex;
  align-items: baseline;
  position: inherit;
}

.child-adult {
  display: flex;
  justify-content: space-between;
}

.text-warning {
  font-size: 16px;
  color: #FF5757;
  align-self: center;
  margin-left: 25px;
  margin-bottom: 23px;
}

.text-warning-black {
  font-size: 16px;
  color: #000;
  align-self: center;
  margin-left: 75px;
  margin-bottom: 23px;
}

.input-title-child{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-right: 10px;
}

.child-input::ti
