@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button-styles {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 0;
  cursor: pointer;
}

.reset-styles {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
}

.page-header {
  padding: 0 70px;
  min-height: 64px;
}

.nav-logo {
  position: absolute;
  z-index: 5;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  margin-left: 169px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #000000;
  text-transform: capitalize;
  padding: 20px 16px;
}

.navigation-link:hover::after,
.navigation-link-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  right: 16px;
  border-bottom: 2px solid #756257;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-user {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navigation-image {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 44px;
  height: 64px;
}

.navigation-search {
  background-image: url(../images/icon/search.svg);
}

.navigation-favourites {
  background-image: url(../images/icon/like.svg);
}

.navigation-search:hover,
.navigation-favourites:hover {
  opacity: 0.6;
}

.twelve {
  display: inline-block;
  text-align: center;
  min-width: 16px;
  height: 16px;
  padding: 2px;
  border-radius: 10px;
  font-size: 10px;
  background-color: #7DB54F;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  left: 20px;
  top: 7px;
  color: #ffffff;
}

.navigation-button {
  display: flex;
  justify-content: center;
  background-color: #756157;
  border-radius: 4px;
  width: 160px;
  padding: 8px 0;
  font-size: 16px;
  color: #ffffff;
  margin-left: 20px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container{
  flex-grow: 1;
}

.main-index {
  text-align: center;
}

.main-image {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url("../images/index_background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 485px;
  position: relative;
}

.main-image::after {
  content: "";
  background-image: url(../images/icon/down_line.svg);
  position: absolute;
  width: 100%;
  height: 57px;
  display: block;
  bottom: 0%;
}

.sedona {
  padding-top: 69px;
  padding-bottom: 90px;
}

.image-sedona {
  padding-top: 51px;
}

.sedona-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  margin:0 auto;
  text-align: center;
  margin-bottom: 25px;
  width: 620px;
}

.sedona-specification {
  font-size: 22px;
  line-height: 26px;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
}

.advantages-first {
  display: flex;
  flex-wrap: wrap;
}

.advantages-second {
  display: flex;
  flex-wrap: wrap;
}

.advantages-block {
  width: 400px;
  margin-top: 92px;
}

.advantages-title {
  margin: auto;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  width: 175px;
}

.advantages-photo {
  height: 100%;
  object-fit: cover;
}

.title-blue::after {
  content: "";
  position: relative;
  display: block;
  margin: 30px auto 0;
  width: 60px;
  border-bottom: 2px solid  rgba(255, 255, 255, 0.3);
}

.advantages-description {
  margin: auto;
  margin-top: 30px;
  width: 230px;
  padding-bottom: 30px;
}

.title-decoration::after {
  content: "";
  position: relative;
  display: block;
  margin: 30px auto 30px;
  width: 60px;
  border-bottom: 2px solid  rgba(0, 0, 0, 0.3);
}

.title-decoration {
  margin-top: 103px;
}

.blue {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #82B3D3;
  color: #ffffff;
}

.blue-reverse {
  flex-direction: row-reverse;
}

.advantages-title--second {
  margin-top: 182px;
}

.gray {
  background-color: rgba(131, 179, 211, 0.2);
}

.white{
  background-color: rgba(131, 179, 211, 0.12);
}

.house {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../images/icon/motel.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 80px;
}

.food{
  background-color: #ffffff;
  background-image: url(../images/icon/food.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 81px;
}

.souvenir {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../images/icon/souvenirs.svg);
  background-repeat: no-repeat;
  background-position: left 50% top 78px;
}

.search {
  padding: 96px;
}

.search-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}

.search-hostel {
  background-color: #756157;
  border-radius: 4px;
  padding: 8px;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  width: 377px;
  margin: 0 auto;
}

.with_background {
  background-image: url(../images/mailing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.email {
  padding-top: 96px;
  padding-bottom: 104px;
  background-color: rgba(131, 179, 211, 0.2);
}

.email-form {
  display: inline-flex;
}

.email-title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.email-description {
  margin-bottom: 55px;
  font-size: 22px;
  line-height: 26px;
}

.field {
  background-color: #F2F2F2;
  border-style: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  width: 430px;
}

.button-email {
  border-width: 0;
  background-color: #82B3D3;
  color: #ffffff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.page-footer {
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.contact {
  max-width: 192px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.contact-link {
  display: block;
  width: 48px;
  height: 40px;
  line-height: 45px;
  text-align: center;
}

.number-phone {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  margin: auto;
}

.academy-link {
  line-height: 0;
}

.number-phone:hover {
  color: #756157;
}

.number-phone:focus {
  color: #756157;
  outline: none;
}

.number-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.link-img {
  display: block;
}

.contact-link:hover {
  color: #68A2CA;
}

.contact-link:focus {
  color: #68A2CA;
  outline: none;
}

.contact-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.contact-link svg {
  fill: currentColor;
}

.contact-link{
  color:#83B3D3;
}

.academy-link:hover {
  color: #756157;
}

.academy-link:focus {
  color: #756157;
  outline: none;
}

.academy-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.academy-link svg {
  fill: currentColor;
}

.academy-link {
  color: #000000;
}

.hostel {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url(../images/catalog_backgroung.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.hostel-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 7px;
}

.breadcrumbs {
  display: flex;
  gap: 10px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-home {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../images/icon/home.svg);
  background-size: contain;
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
}

.breadcrumbs-arrow {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../images/icon/arrow_right.svg);
  background-size: contain;
  width: 8px;
  height: 12px;
  display: inline-block;
  position: relative;
  left: 6px;
  margin-right: 6px;
}

.hostel-option {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.check-list {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-right: 71px;
  gap: 16px;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  width: 100%;
  margin-bottom: 32px;
  text-transform: capitalize;
}

.filter-check {
  display: flex;
  gap: 16px;
  line-height: 23px;
}

.cost-button {
  display: flex;
  flex-wrap: wrap;
}

.filter-cost {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.visual-input {
  display: flex;
  margin-bottom: 44px;
}

.input-area-zero {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline: none;
}

.input-area-ninth {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: 2px;
}

.input-box {
  outline: none;
  width: 78px;
  height: 48px;
  padding-left: 20px;
  padding-right: 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #F2F2F2;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 226px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -2px;
}

.input-area {
  position: relative;
}

.input-from {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  right: 20px;
  top: 12px;
}

.search-button {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.search {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.submit {
  color: #ffffff;
  padding: 8px 50px;
  background-color: #82B3D3;
  border-radius: 4px;
  border-width: 0;
  margin-bottom: 32px;
}

.reset {
  background-color: transparent;
  color: #ffffff;
  border-width: 0;
  padding: 8px 58px;
}

.page-catalog {
  width: 1060px;
  margin: 0 auto;
}

.found-hostel {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  max-width: 500px;
}

.select-opt {
  font-family: inherit;
  width: 292px;
  height: 49px;
  padding-left: 20px;
  border: 2px solid #E5E5E5;
  background-color: #ffffff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  appearance: none;
  background-image: url(../images/icon/arrow.svg);
  background-repeat: no-repeat;
  background-position: left 260px center;
  margin-left: auto;
  margin-right: 70px;
  cursor: pointer;
}

.visual {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 160px;
  gap: 8px;
}

.visual-card {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 14px;
  padding: 14px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.visual-tile {
  background-image: url(../images/icon/tile.svg);
  border: 2px solid #000000;
}

.visual-slide {
  background-image: url(../images/icon/slide.svg);
}

.visual-list {
  background-image: url(../images/icon/list.svg);
}

.visual-container {
  display: flex;
  margin-top: 50px;
  margin-bottom: 40px;
  align-items: center;
}

.catalog-list {
  display: grid;
  gap: 18px 18px;
  grid-template-columns: repeat(3, 1fr);
}

.catalog-element {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.catalog-element-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
}

.catalog-title {
  font-size: 24px;
  line-height: 28px;
}

.catalog-price {
  display: flex;
  justify-content: space-between;
}

.catalog-detail {
  color: #ffffff;
  background-color: #756157;
  padding: 8px 26px;
  border-radius: 4px;
}

.catalog-favorite {
  color: #ffffff;
  background-color: #82B3D3;
  width: 140px;
  padding: 8px;
  border-radius: 4px;
  border-width: 0;
}

.button-green {
  background-color: #7DB54F;
}

.catalog-inform {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.catalog-star {
  background-image: url(../images/icon/star.svg);
  align-self: center;
  background-repeat: round;
  background-size: 24px;
}

.catalog-star-four {
  width: 96px;
  height: 17px;
}

.catalog-star-three {
  width: 72px;
  height: 17px;
}

.catalog-star-two {
  width: 48px;
  height: 17px;
}

.catalog-rang {
  display: flex;
  background-color: #F2F2F2;
  padding: 8px 22px;
  border-radius: 4px;
  font-weight: 400;
  cursor: auto;
}

.paginator {
  font-size: 20px;
  line-height: 36px;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  gap: 8px;
  border-top: 1px solid #e6e6e6;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.ellipsis {
  align-self: center;
  text-align: center;
  width: 60px;
}

.number {
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.number:hover {
  background-color: #68A2CA;
}

.number:focus {
  background-color: #68A2CA;
  outline: none;
}

.number:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.one {
  text-decoration: none;
  color: inherit;
  background-color: #F2F2F2;
}

.email-catalog {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.button-blue:disabled {
  background-color: #E5E5E5;
  pointer-events: none;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
  outline: 0;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-brown:disabled {
  background-color: #E5E5E5;
  pointer-events: none;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus {
  background-color: #6C9E42;
  outline: none;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7DB54F;
}

.button-green:disabled {
  background-color: #E5E5E5;
  pointer-events: none;
}

.button-clear:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-clear:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-clear:focus {
  outline: none;
  box-shadow: 0 0 0 2px #82B3D3;
  border-radius: 4px;
}

.button-clear:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.select-opt:hover {
  outline: none;
  border: 2px solid #82B3D3;
  border-radius: 4px;
}

.select-opt:focus {
  outline: none;
  border: 2px solid #82B3D3;
  border-radius: 4px;
}

.select-opt:active {
  outline: none;
  border: 2px solid #000000;
  border-radius: 4px;
}

.select-opt:disabled{
  opacity: 0.3;
  pointer-events: none;
}

.input-area:focus {
  outline: none;
  box-shadow: 0 0 0 2px #82B3D3;
}

.input-area:active {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.visual-card:hover {
  border: 2px solid #000000;
}

.visual-card:focus {
  outline: none;
  border: 2px solid #82B3D3;
}

.visual-card:active {
  border: 2px solid #000000;
}

.infrastructure-check {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.infrastructure-check::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.custom-checkbox:checked + .infrastructure-check::before {
  background-image: url(../images/icon/check.svg)
}

.infrastructure-check:hover::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter-check:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-check:active {
  color: rgba(255, 255, 255, 0.3);
}

.custom-checkbox:focus + .infrastructure-check::before {
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.infrastructure-check:active {
  opacity: 0.3;
}

.radio-type {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.radio-type::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.custom-radio:checked + .radio-type::before {
  background-image: url(../images/icon/circle.svg)
}

.radio-type:hover::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.custom-radio:focus + .radio-type::before {
  outline: 3px solid #82B3D3;
}

.radio-type:active {
  opacity: 0.3;
}

.close-modal {
  display: none !important;
}

.modal-container {
  position: absolute;
  left: 0;
  display: flex;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 5;
  min-height: 3308px;
}

.modal {
  position: relative;
  margin: 395px auto;
  border-radius: 30px;
  padding: 62px 72px 65px 67px;
  background-color: #ffffff;
  width: 577px;
  height: min-content;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #000000;
}

.modal-close-button svg {
  fill: currentColor;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
  outline: none;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 64px;
  padding-right: 50px;
}

.input-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-right: 15px;
}

.label-adult {
  margin-right: 45px;
}

.data-check {
  background-color: #F2F2F2;
  width: 360px;
  height: 48px;
  border-radius: 4px;
  border: none;
  padding-left: 20px;
  padding-right: 60px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-image: url(../images/icon/calendar.svg);
  background-repeat: no-repeat;
  background-position-x: 400px;
  background-position-y: center;
}

.data-check:focus {
  outline: none;
  box-shadow: 0 0 0 2px #82B3D3;
}

.data-check:active {
  outline: none;
  box-shadow: 0 0 0 2px #000000;
}

.child-block {
  display: flex;
  align-items: center;
  width: 242px;
  justify-content: space-between;
}

.child-input {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83B3D3;
  cursor: pointer;
  border: 0;
}

.child-input:hover {
  opacity: 0.3;
}

.child-input:focus {
  outline: none;
  opacity: 0.3;
}

.block-submit-child {
  display: flex;
}

.tooltip {
  position: relative;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 15px 23px 25px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);;
  box-sizing: border-box;
  width: 256px;
  position: absolute;
  top: 41px;
  right: 50%;
  transform: translateX(49%);
  display: none;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/icon/tooltipe_arrow.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left: calc(50% - 10px);
}

.child-input:hover + .tooltip-text,
.child-input:focus + .tooltip-text {
  display: block;
}

.button-search {
  background-color: #83B3D3;
  color: #ffffff;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  padding: 18px;
  width: 100%;
  cursor: pointer;
}

.style-form {
  justify-content: space-between;
  display: flex;
  align-items: baseline;
  margin-bottom: 22px;
}

.child-adult {
  display: flex;
  margin-bottom: 47px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text-warning {
  padding-top: 5px;
  font-size: 16px;
  align-self: center;
  margin-left: 20px;
  width: 340px;
}

.text-warning-red {
  color: #FF5757;
}

.block-child {
  display: inline-flex;
  align-items: center;
}

.child-inform {
  margin-right: 46px;
  position: relative;
  display: flex;
  align-items: center;
}

.input-title-child{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  position: relative;
  margin-right: 10px;
}

.adult-block {
  display: inline-flex;
  align-items: center;
}

.lot-input {
  background-color: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  width: 31px;
  height: 48px;
  text-align: center;
}

.button-change {
  background-color: #F2F2F2;
  width: 40px;
  height: 48px;
  color: rgba(117, 97, 87, 0.3);
  cursor: pointer;
}

.button-minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.button-minus svg {
  fill: currentColor;
  text-align: center;
  padding: 9px 3px;
}

.button-minus:hover {
  color: #000000;
}
.button-minus:focus svg {
  color: #000000;
  border: 3px solid #82B3D3;
  border-radius: 4px;
}

.button-minus:focus {
  outline: none;
}

.button-minus:active {
  color: rgba(117, 97, 87, 0.3);
}

.button-plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button-plus svg {
  fill: currentColor;
}

.button-plus:hover {
  color: #000000;
}

.button-plus:focus svg {
  color: #000000;
  border: 3px solid #82B3D3;
  border-radius: 4px;
  padding: 3px;
}

.button-plus:focus {
  outline: none;
}

.button-plus:active {
  color: rgba(117, 97, 87, 0.3);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance:textfield;
}
